@model string
@{
    ViewData["Title"] = "Post";
}

<article class="main-content-wrap">
    <h1>Welcome to devland @Model</h1>
    <h2>Welcome to devland @Model</h2>
    <h3>Welcome to devland @Model</h3>
    <h4>Welcome to devland @Model</h4>
    <pre></pre>
    <blockquote>I am a blockquote</blockquote>
    <code>I am code</code>
    <p>
        Eget arcu dictum varius duis at consectetur. Imperdiet proin fermentum leo vel orci. Sed pulvinar proin gravida hendrerit lectus. Est sit amet facilisis magna etiam tempor orci eu lobortis. Quam pellentesque nec nam aliquam. Amet justo donec enim diam vulputate ut pharetra sit. Neque aliquam vestibulum morbi blandit cursus risus. In nibh mauris cursus mattis molestie a iaculis. Et leo duis ut diam quam nulla porttitor. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Viverra orci sagittis eu volutpat odio. Integer feugiat scelerisque varius morbi. Est ullamcorper eget nulla facilisi etiam dignissim. Viverra vitae congue eu consequat ac felis. Ut diam quam nulla porttitor massa id. Pharetra sit amet aliquam id. Mus mauris vitae ultricies leo integer malesuada nunc.
    </p>
    <p>
        Eget arcu dictum varius duis at consectetur. Imperdiet proin fermentum leo vel orci. Sed pulvinar proin gravida hendrerit lectus. Est sit amet facilisis magna etiam tempor orci eu lobortis. Quam pellentesque nec nam aliquam. Amet justo donec enim diam vulputate ut pharetra sit. Neque aliquam vestibulum morbi blandit cursus risus. In nibh mauris cursus mattis molestie a iaculis. Et leo duis ut diam quam nulla porttitor. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Viverra orci sagittis eu volutpat odio. Integer feugiat scelerisque varius morbi. Est ullamcorper eget nulla facilisi etiam dignissim. Viverra vitae congue eu consequat ac felis. Ut diam quam nulla porttitor massa id. Pharetra sit amet aliquam id. Mus mauris vitae ultricies leo integer malesuada nunc.
    </p>
    <p>
        Eget arcu dictum varius duis at consectetur. Imperdiet proin fermentum leo vel orci. Sed pulvinar proin gravida hendrerit lectus. Est sit amet facilisis magna etiam tempor orci eu lobortis. Quam pellentesque nec nam aliquam. Amet justo donec enim diam vulputate ut pharetra sit. Neque aliquam vestibulum morbi blandit cursus risus. In nibh mauris cursus mattis molestie a iaculis. Et leo duis ut diam quam nulla porttitor. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Viverra orci sagittis eu volutpat odio. Integer feugiat scelerisque varius morbi. Est ullamcorper eget nulla facilisi etiam dignissim. Viverra vitae congue eu consequat ac felis. Ut diam quam nulla porttitor massa id. Pharetra sit amet aliquam id. Mus mauris vitae ultricies leo integer malesuada nunc.
    </p>
    <p>
        Eget arcu dictum varius duis at consectetur. Imperdiet proin fermentum leo vel orci. Sed pulvinar proin gravida hendrerit lectus. Est sit amet facilisis magna etiam tempor orci eu lobortis. Quam pellentesque nec nam aliquam. Amet justo donec enim diam vulputate ut pharetra sit. Neque aliquam vestibulum morbi blandit cursus risus. In nibh mauris cursus mattis molestie a iaculis. Et leo duis ut diam quam nulla porttitor. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Viverra orci sagittis eu volutpat odio. Integer feugiat scelerisque varius morbi. Est ullamcorper eget nulla facilisi etiam dignissim. Viverra vitae congue eu consequat ac felis. Ut diam quam nulla porttitor massa id. Pharetra sit amet aliquam id. Mus mauris vitae ultricies leo integer malesuada nunc.
    </p>
    <p>
        Eget arcu dictum varius duis at consectetur. Imperdiet proin fermentum leo vel orci. Sed pulvinar proin gravida hendrerit lectus. Est sit amet facilisis magna etiam tempor orci eu lobortis. Quam pellentesque nec nam aliquam. Amet justo donec enim diam vulputate ut pharetra sit. Neque aliquam vestibulum morbi blandit cursus risus. In nibh mauris cursus mattis molestie a iaculis. Et leo duis ut diam quam nulla porttitor. Dolor purus non enim praesent elementum facilisis leo vel fringilla. Viverra orci sagittis eu volutpat odio. Integer feugiat scelerisque varius morbi. Est ullamcorper eget nulla facilisi etiam dignissim. Viverra vitae congue eu consequat ac felis. Ut diam quam nulla porttitor massa id. Pharetra sit amet aliquam id. Mus mauris vitae ultricies leo integer malesuada nunc.
    </p>
    <pre>
        <code>
            public void awesome () {

            }
            @("<a href=\"#\">yesss</a>")
        </code>
    </pre>
</article>