@model LandingPage
@{
    var amp = ViewData["amp"] as bool? ?? false;
}
<article>
    <h1 itemprop="headline" class="headline">@Model.Title</h1>
    <time class="headlineSubtext" itemprop="datePublished" content="@Model.PublishDate.ToString()">@Model.PublishDate.ToString("D")</time>
    @if(amp)
    {
        @Model.Content.AmpContent
    }
    else
    {
        @Model.Content.Content
    }

</article>