<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="author" content="Tommy &quot;TerribleDev&quot; Parnell" />
    <meta name="theme-color" content="#4A4A4A" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/rss.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link asp-append-version="true" rel="icon" href="~/favicon.ico" />
    @RenderSection("Head", false)
    <title>@ViewData["Title"] - The Ramblings of TerribleDev</title>
    <environment names="Development">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Production">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    @if (ViewData["RenderNav"] != null)
    {
        <partial name="Nav" />
    }
    @if (ViewData["NoWrap"] != null)
    {
        <main role="main">
            @RenderBody()
        </main>
    }
    else
    {
        <main role="main" class="main-content-wrap">
            @RenderBody()
        </main>
    }
    @RenderSection("Scripts", required: false)
    <environment names="Development">
        <script asp-append-version="true" src="~/js/swi.js" async></script>
    </environment>
    <environment names="Production">
        <script asp-append-version="true" src="~/js/site.min.js" async></script>
    </environment>
</body>
</html>
