@inject BlogConfiguration config


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] | @config.Title</title>
        <environment names="Development">
        <inline-style href="css/site.css,css/site.mobile.css,css/site.desktop.css"></inline-style>
        @* <desktop>
            <inline-style href="css/site.css,css/site.desktop.css"></inline-style>
        </desktop>
        <mobile>
            <inline-style href="css/site.css,css/site.mobile.css"></inline-style>
        </mobile> *@
    </environment>
    <environment names="Production">
        @* <desktop>
            <inline-style href="css/site.min.css,css/site.desktop.min.css"></inline-style>
        </desktop>
        <mobile>
            <inline-style href="css/site.min.css,css/site.mobile.min.css"></inline-style>
        </mobile> *@
        <inline-style href="css/site.min.css,css/site.mobile.min.css,css/site.desktop.min.css"></inline-style>
    </environment>
    <environment names="Production">
        <partial name="Gtm" />
    </environment>


    <meta name="theme-color" content="#4A4A4A" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/rss.xml">
    <link rel="manifest" href="~/manifest.json" asp-append-version="true">
    <meta name="author" content="Tommy &quot;TerribleDev&quot; Parnell" />
    <link asp-append-version="true" rel="icon" href="~/favicon.ico" push />
    @RenderSection("Head", false)
</head>
<body>
  <a class="skip-main" href="#main">Skip to main content</a>
  <div class="rootbox">
      <header class="header">
          <div class="headerCallout"><a href="/" class="link-unstyled ">@config.Title</a></div>
      </header>
      <partial name="Nav" />
          <main class="headerBump main-content-wrap" id="main">
                  @RenderBody()
          </main>
      </div>
    </div>
        @RenderSection("Scripts", required: false)
        <environment names="Development">
            <script asp-append-version="true" src="~/js/swi.js" async></script>
        </environment>
        <environment names="Production">
            <script asp-append-version="true" src="~/js/site.min.js" async></script>
        </environment>
</body>
</html>
