@inject BlogConfiguration config

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <environment names="Production">
        <partial name="Gtm" />
    </environment>
    <meta name="author" content="Tommy &quot;TerribleDev&quot; Parnell" />
    <meta name="theme-color" content="#4A4A4A" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/atom+xml" async title="RSS" href="/rss.xml">
    <link rel="manifest" href="~/manifest.json" async asp-append-version="true">
    <link asp-append-version="true" rel="icon" async href="~/favicon.ico" />
    <title>@ViewData["Title"] - @config.Title</title>
    <environment names="Development">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Production">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment names="Development">
        <link asp-append-version="true" media="screen and (min-width: 769px)" rel="stylesheet" href="~/css/site.desktop.css" />
    </environment>
    <environment names="Production">
        <link asp-append-version="true" media="screen and (min-width: 769px)" rel="stylesheet" href="~/css/site.desktop.min.css" />
    </environment>
    <environment names="Development">
        <link asp-append-version="true" media="screen and (max-width: 768px)" rel="stylesheet" href="~/css/site.mobile.css" />
    </environment>
    <environment names="Production">
        <link asp-append-version="true" media="screen and (max-width: 768px)" rel="stylesheet" href="~/css/site.mobile.min.css" />
    </environment>
    <environment names="Development">
        <link asp-append-version="true" rel="preload" as="script" href="~/js/swi.js" />
    </environment>
    <environment names="Production">
        <link asp-append-version="true" rel="preload" as="script" href="~/js/site.min.js" />
    </environment>
    @RenderSection("Head", false)
</head>
<body>
  <a class="skip-main" href="#main">Skip to main content</a>
  <div class="rootbox">
      <header class="header">
          <svg aria-label="Open Menu" id="menuBtn" role="button" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M4 10h24c1.104 0 2-.896 2-2s-.896-2-2-2H4c-1.104 0-2 .896-2 2s.896 2 2 2zm24 4H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2zm0 8H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2z" /></svg>
          <div class="headerCallout"><a href="/" class="link-unstyled ">@config.Title</a></div>
      </header>
      <partial name="Nav" />
          <main class="headerBump main-content-wrap" id="main">
                  @RenderBody()
          </main>
      </div>
    </div>
    @RenderSection("Scripts", required: false)
    <environment names="Development">
        <script asp-append-version="true" src="~/js/swi.js" async></script>
    </environment>
    <environment names="Production">
        <script asp-append-version="true" src="~/js/site.min.js" async></script>
    </environment>
</body>
</html>
